@import url(https://fonts.googleapis.com/css?family=Poiret+One);

@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.temp-main {
  background-color: black;
  width: 100%;
  height: 100vh;
}
.searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  width: 100vw;
  height: 20vh;
  /* border: 2px solid red; */
}
.searchBox .searchInput {
  width: 20vw;
  text-align: center;
  color: black;
  height: 5vh;
  border: 1px solid white;
  /* border-radius: 5px; */
}
.searchBox .btn {
  width: 8vw;
  height: 5vh;
  background-color: rgb(39, 116, 218);
  color: white;
  border: 0px;
  /* border-radius: 5px; */
  cursor: pointer;
}
.searchBox .btn:hover {
  background-color: rgb(41, 127, 240);
}

.card {
  position: absolute;
  top: 25vh;
  left: 25vw;
  background: white;
  /* border: 2px solid red; */
  box-shadow: 0px 10px 10px #111;
  width: 50vw;
  height: 60vh;
  border-radius: 20px;
}
.card .card-lyt {
  display: grid;
  grid-template-columns: 50vw;
  grid-template-rows: 30vh 15vh 15vh;
}
.card .card-lyt .icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid blue; */
  border-radius: 20px;
}
.card .card-lyt .icon-box i {
  font-size: 20vh;
}
.card .card-lyt .tandt {
  display: grid;
  grid-template-columns: 32vw 18vw;
  grid-template-rows: 15vh;
  text-align: start;
}
.card .card-lyt .tandt .temperature {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  align-items: center;
  flex-flow: row;
  background-color: black;
  border: none;
  /* border-radius: 10px; */
}
.card .card-lyt .tandt .temperature h1 {
  margin-left: 40px;
  font-size: 50px;
  color: white;
}
.card .card-lyt .tandt .temperature div {
  position: absolute;
  left: 18vw;
  display: flex;
  flex-flow: column;
}
.card .card-lyt .tandt .temperature div .mood {
  margin: 0px;
  font-size: 35px;
  color: white;
  padding: 0px;
}
.card .card-lyt .tandt .temperature div .city {
  color: white;
  margin: 0px;
  padding: 0px;
  font-size: 20px;
}
.card .card-lyt .tandt .time {
  background-color: rgb(39, 116, 218);
  border: none;
  /* border-radius: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.card ,.card-lyt .row{
  display: grid;
  grid-template-columns: 12.5vw 12.5vw 12.5vw 12.5vw;
  grid-template-rows: 15vh;
}
.card ,.card-lyt .row .col{
display: flex;
flex-flow: row;
align-items: center;
}
.card ,.card-lyt .row .col i {
font-size: 30px;
margin-left: 20px;
color: rgb(39, 116, 218);
}
.card ,.card-lyt .row .col div{
display: flex;
flex-flow: column;
}
.card ,.card-lyt .row .col span{
 margin-left: 15px;
 font-size: 20px;
 padding: 0px;
 color: black;
}
/* Media qurey down the hills */
/* Media qurey down the hills */
/* Media qurey down the hills */
/* Media qurey down the hills */
/* Media qurey down the hills */
/* Media qurey down the hills */
/* Media qurey down the hills */

@media screen and (max-width: 970px) {
  .searchBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column !important;
    width: 100vw;
    height: 20vh;
    border: 2px solid red;
  }
  .searchBox .searchInput {
    width: 59vw;
    height: 5vh;
    text-align: center;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
  }
  .searchBox .btn {
    margin: 10px;
    width: 30vw;
    height: 5vh;
    background-color: rgb(39, 116, 218);
    color: white;
    border: 0px;
    border-radius: 5px;
  }
}
